
/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;500;900&display=swap');

/* Body link */
body{
     margin: 0;
     padding: 0;
     font-family: 'Manrope', sans-serif;
}
/* Header Dialog and Group Image */

/* Dialog and image parent div */
#dialog-img{
     width: 85%;
     margin: auto;
     display: flex;
     margin-top: 65px;
}

/* dialog h1  */
.dialog h1{
     color: #1E1E1E;
     font-size: 60px;
     font-weight: bolder;
}

/* dialog p */
.dialog p{
     color: #777777;
     font-size: 18px;
}

/* button */
button{
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 0;
     background: linear-gradient(to right, #ff8537, #ff0502);
     padding: 15px 15px;
     border-radius: 6px;
}

/* button img */
button img{
     width: 15px;
     height: 15px;
     margin-left: 10px;
}

/* Group Image */
.img img{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 50px;
}

/* Star rating */
.star{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 220px;
     height: 50px;
     background: #fff;
     box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.281);
     padding: 15px 0;
     border-radius: 10px;
     position: absolute;
     top: 450px;
     right: 420px;
}

.text .first-p{
     margin: 0 10px;
     font-size: 20px;
     font-weight: bold;
}
.text .second-p{
     font-size: 12px;
     margin: 3px 10px;
     font-size: 12px;
     color: #777777;
}


/* Main Section */

/* featured parent */
.featured-parent{
     width: 60%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
}

/* featured h2 */
.featured-parent h2{
     font-size: 40px;
     margin: 0;
}
/* featured p */
.featured-parent p{
     font-size: 14px;
     color: #777777;
}

/* featured bottle */
#bottle-parent{
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px 0;
}

.bottle{
     text-align: center;
     width: 200px;
     background: linear-gradient(to bottom, #80808028, #ffffff21);
     border-radius: 6px;
     padding-top: 25px;
     margin: 0 15px;
}
.bottle h3{
     font-size: 25px;
     font-weight: bolder;
}
.bottle p{
     font-size: 14px;
     font-weight: 400;
     color: #777777;
}





/* Media queries Mobile device */
@media only screen and (max-width: 668px){
     /* Dialog and image parent div */
     #dialog-img{
          display: block;
          width: 100%;
     }
     .img img{
          width: 100%;
          padding: 0;
          margin: 40px 0;
     }
     /* dialog h1  */
     .dialog h1{
          text-align: center;
          font-size: 40px;
          font-weight: 600;
     }
     /* dialog p  */
     .dialog p{
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          margin: 15px 0;
     }
     /* button */
     button{
          margin: auto;
     }
     /* Star rating */
     .star{
          display: block;
     }

     /* Main section */

     /* featured parent */
     .featured-parent{
          width: 100%;
          text-align: center;
          padding-top: 50px;
     }
          
     /* featured h2 */
     .featured-parent h2{
          font-size: 30px;
          margin: 0 10px;
     }
     /* featured p */
     .featured-parent p{
          font-size: 12px;
          color: #777777;
          padding: 0 20px;
     }

     /* featured bottle */
     #bottle-parent{
          width: 100%;
          margin: auto;
          display: block;
          justify-content: center;
          align-items: center;
          padding: 50px 0;
     }

     .bottle{
          text-align: center;
          width: 230px;
          background: linear-gradient(to bottom, #80808028, #ffffff21);
          border-radius: 6px;
          padding-top: 25px;
          padding-bottom: 20px;
          margin: auto;
     }
     .bottle h3{
          font-size: 25px;
          font-weight: bolder;
     }
     .bottle p{
          font-size: 14px;
          font-weight: 400;
          color: #777777;
     }

}








/* Media queries tablet device */
@media only screen and (min-width: 689px) and (max-width: 992px){
     #dialog-img{
          display: flex;
          width: 100%;
     }
     .img{
          width: 50%;
     }
     /* img */
     .img img{
          width: 80%;
          padding: 0 50px;
          margin: 40px 0;
     }
     /* dialog */
     .dialog{
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 50px;
     }
     /* dialog h1  */
     .dialog h1{
          text-align: start;
          font-size: 40px;
          font-weight: 600;
     }
     /* dialog p  */
     .dialog p{
          text-align: start;
          font-size: 14px;
          font-weight: 400;
          margin: 15px 0;
     } 
     /* Star rating */
     .star{
          display: block;
          position: absolute;
          left: -9999px;
     }

       /* Main section */

     /* featured parent */
     .featured-parent{
          width: 100%;
          text-align: center;
          padding-top: 110px;
     }
          
     /* featured h2 */
     .featured-parent h2{
          font-size: 30px;
          margin: 0 10px;
     }
     /* featured p */
     .featured-parent p{
          font-size: 12px;
          color: #777777;
          padding: 0 20px;
     }

     /* featured bottle */
     #bottle-parent{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          padding: 30px 0;
     }

     .bottle{
          text-align: center;
          width: 230px;
          background: linear-gradient(to bottom, #80808028, #ffffff21);
          border-radius: 6px;
          padding-top: 25px;
          padding-bottom: 20px;
          margin: auto;
     }
     .bottle h3{
          font-size: 25px;
          font-weight: bolder;
     }
     .bottle p{
          font-size: 14px;
          font-weight: 400;
          color: #777777;
     }

}